.flex {
  display: flex;
}

.services {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 1.6rem;
}

.services__image {
  width: 60rem;
  margin-right: 3.2rem;
  border: 5px solid #ffffff;
}

.services__image > img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

.services__menu {
  align-self: center;
  padding: 1.5rem;
}

.services__heading {
  font-size: 4.8rem;
  color: var(--color-text-dark);
  font-weight: 200;
  line-height: 1;
  margin-bottom: 3.2rem;
}

.services__item {
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--colot-text-light);
  border: 5px solid transparent;
  margin: .5rem 0;
  padding: 1rem;
  cursor: pointer;
  transition: transform .2s;
}

.services__item--active {
  background-color: var(--color-primary);
  color: #ffffff;
  border: 5px solid #ffffff;
  transform: scale(1.1);
  transform-origin: right;
}

.services__details {
  width: 81.6rem;
  background-color: var(--color-primary);
  border: 5px solid #ffffff;
  color: #ffffff;
  padding: 2rem;
  font-size: 1.6rem;
  margin-top: -20rem;
  margin-left: auto;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.services__lead {
  font-size: 2rem;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 3.2rem;
}

.services__paragraph {
  margin-bottom: 2rem;
}

.services__cta {
  border: none;
  border-radius: 30px;
  background-color: #ffffff;
  color: var(--color-primary);
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1em 1.4em;
  cursor: pointer;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .services {
    padding: 8rem 1.6rem;
  }

  .services__image {
    width: 50rem;
  }

  .services__details {
    margin-top: -13rem;
  }
}

@media only screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }

  .services {
    padding: 5rem 1rem;
  }

  .services__item {
    border: none;
  }

  .services__item--active {
    transform: scale(1);
    transform-origin: center;
    border: none;
  }

  .services__menu {
    width: fit-content;
    padding: 1.5rem 0;
  }

  .services__image {
    align-self: center;
    width: 50%;
    margin-right: 0;
  }

  .services__details {
    margin: 0 auto;
    margin-top: 0;
    transform: translateX(0);
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .services {
    padding: 2rem 1rem;
  }

  .services__heading {
    font-size: 4rem;
  }
}