.navbar {
  display: flex;
  align-items: center;
  height: 8rem;
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.navbar__logo {
  margin-right: auto;
}

.navbar__logo > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__item {
  margin: 0 1.6rem;
  color: var(--color-text-dark);
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 6rem;
  }

  .navbar__logo {
    width: 8rem;
  }
}
